{% extends 'driver/base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <h3>Fill in the details about your car</h3>
                {{form.media}}
                {% block styles %} {% bootstrap_css %}
                  <link rel="stylesheet" href="#"> {% endblock %}
                
                <form action="{% url 'carprofile' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                <input type="submit" value="Submit">
                </form>
        </div>
    </div>
</div>

{% endblock %}