{% extends 'driver/base.html' %} 
{% load bootstrap3 %} 
{% block content %}
{% block styles %}
{% bootstrap_css %}
{% endblock %}
<div class="container">
    <div class="row">

        

        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Your Scheduled rides</h1>
            {% for schedule in schedules %}


            <h2>Destination:{{schedule.destination }}</h2>
            <p>Leaving Time: {{schedule.leaving_time }}</p>
            <p>Name: {{schedule.driver.name }}</p>
            <p>Number of seats: {{schedule.driver.car.seats }}</p>
            <p>Booked Seats: {{schedule.driver.car.bookers.count }}</p>

            
        </div>
        {% endfor%}
    </div>
</div>




{% endblock %}