h2{
    position:absolute;
    left:40%;
    top:35%;
}
.driver_options{
    display:inline;
    position:absolute;
    left:35%;
    top:46%;
}
.customer_options{
    display:inline;
    position:absolute;
    left:41%;
    top:46%;
}
