{% extends 'driver/base.html' %}
 {% load bootstrap3 %} 
{% load static %} 
{% block content %}

 {% block styles %} 
 {% bootstrap_css%}
<link rel="stylesheet" href="{% static '#' %}"> 
{% endblock %}


<div class="all_rides">
    <div class="container">
            <h2 class="text-center"> Available Rides </h2>
            <hr>
        <div class="row">
            {% for ride in rides %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Destination: {{ride.destination}}</h5>
                        <p class="card-text"> Leaving Time:{{ride.leaving_time}}.</p>
                        <p class="card-text">  Driver: {{ride.driver}}.</p>
                        <p class="card-text"> Car: {{ride.driver.car}}.</p>
                        <p class="card-text"> Total Seats: {{ride.driver.car.seats}}</p>
                        <p class="card-text"> Available Seats: {{ride.driver.car.seats}}</p>
                        <a href="{% url 'driver_profile' ride.driver.id %}" class="btn btn-primary">
                           see Driver's profile </a>
                        <a href="{% url 'driver_profile' ride.driver.id %}" class="btn btn-primary">
                            Book this ride </a>
                    </div>
                    
                </div>
                <hr>
              
            </div>
            {% endfor %}
        </div>
     

    </div>
    {% endblock %}